.img {
  display: block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link {
  outline: 2px solid transparent;
  border-radius: 50%;
  outline-offset: 3px;
  transition: outline-color 0.3s ease-in-out;

  &:hover {
    outline-color: #535bf2;
  }
}
