.auth {
  padding: 0;
  border: none;
  background-color: transparent;

  svg {
    transition: color 0.3s ease-in-out;
  }

  &:hover {
    svg {
      color: #535bf2;
    }
  }
}

.img {
  display: block;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.login {
  height: 36px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
  background-color: #242424;
  color: #fff;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #535bf2;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline-color: #535bf2;
  }
}

.logout {
  height: 36px;
  padding: 0 15px;
  background-color: #242424;
  color: #fff;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: #535bf2;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline-color: #535bf2;
  }
}

.info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.link {
  outline: 2px solid transparent;
  border-radius: 50%;
  outline-offset: 3px;
  transition: outline-color 0.3s ease-in-out;

  &:hover {
    outline-color: #535bf2;
  }
}
