.wrapper {
  position: relative;

  &:hover .download {
    opacity: 1;
  }
}

.info {
  padding: 5px;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(36, 36, 36, 0.7);
}

.name {
  max-width: 140px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #1976d2;
  }

  &:focus-visible {
    outline: 2px solid #1976d2;
    outline-offset: 2px;
  }
}

.download {
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.like {
  position: absolute;
  top: 15px;
  right: 15px;

  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgba(36, 36, 36, 0.7);
  border-radius: 10px;
  color: #1976d2;
}
