.likes {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgba(36, 36, 36, 0.7);
  border-radius: 10px;
  color: #1976d2;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: rgba(36, 36, 36, 1);
  }

  &:focus-visible {
    outline: 2px solid #1976d2;
    outline-offset: 2px;
  }
}
